/*UNIVERSAL STYLES*/

body {
  background-color: #EEEEEE;
  font-family: "Poppins", sans-serif;
  font-size: clamp(16px, 2vw, 22px);
  color: #1B1A17;
  margin: 0;
}

h1 {
  font-family: "Poppins", sans-serif;
  font-size: clamp(22px, 5vw, 40px);
  margin-bottom: 10px;
  margin-top: 0px;
}

.content-boundary {
  width: 80%;
}

.section-container {
  display: flex;
  justify-content: space-evenly;
}

a {
  color: #1B1A17;
  cursor: pointer;
}

a:hover {
  font-weight: bold;
}

a:visited {
  color: 
}
img {
  width: 100%;
  height: auto;
}

figure {
  margin: 0;
}

figcaption {
  font-size: 16px;
  font-style: italic;
  word-spacing: normal;
}

.img-shadow {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/*HEADER*/

.header-container {
  width: 100%;
  background-color: #FFB319;
  color: #FFE194;
  height: 70px;
}

.header-content {
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
}

.header-img {
  width: 60px;
  height: 60px;
}

#eda-link {
  color: #FFE194;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
  margin-left: 20px;
}

/*TITLE SECTION*/

.title-section {
margin-top: 20px;
margin-bottom: 20px;
text-align: center;
}

/*HOMEPAGE*/

.blog-list-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  align-content: center;
}

#me-img {
  width: 20vw;;
  height: auto;
}

.list-category {
  text-align: center;
}

#credit {
  font-size: 12px;
}


/*BLOGS*/

.blog-content {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

.blog-nav {
  width: 40%;
  position: sticky;
  top: 100px;
  height: 50%;
  margin-top: 100px;
}

.blog-body {
  width: 60%;
  padding-right: 5%;
  text-align: justify;
  line-height: 1.5;
}

.nav-list {
  margin-bottom: 50px;
}

.homepage-link {
  font-size: 16px;
}

